<app-navigation></app-navigation>
<div style="height: 575px;">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 footer-content-wrapper">
        <!-- <span class="logo">Brisk-Pay Portal</span> -->
        <!-- <img class="logo" src="../../../assets/images/wheelKing_logo.png" alt="logo"> -->
      </div>
      <div class="col-md-8 footer-content-wrapper">
        <div class="footer-text ">
          <span>info@mediaxyz.com</span>
        </div>

      </div>
    </div>

  </div>

</footer>