<div class="component-wrapper">
    <div class="header">
        <h2>
            About us contents
        </h2>
    </div>
    <p>Media are the communication outlets or tools used to store and deliver information or data.[1][2] The term refers
        to components of the mass media communications industry, such as print media, publishing, the news media,
        photography, cinema, broadcasting (radio and television), and advertising.[3]

        The development of early writing and paper enabled longer-distance communication systems such as mail, including
        in the Persian Empire (Chapar Khaneh and Angarium) and Roman Empire, which can be interpreted as early forms of
        media.[4] Writers such as Howard Rheingold have framed early forms of human communication as early forms of
        media, such as the Lascaux cave paintings and early writing.[5] Another framing of the history of media starts
        with the Chauvet Cave paintings and continues with other ways to carry human communication beyond the short
        range of voice: smoke signals, trail markers, and sculpture.[6]</p>

</div>